<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="selenium.testNG.retryanalysis.IAnnotationTransformerExample"/>
    </listeners>
    <test verbose="2" preserve-order="true" parallel="false" thread-count="4" name="D:/java/Maven_28_Nov_2023">
        <classes>
            <class name="selenium.testNG.annotation.FailedTestCase"/>
            <class name="selenium.testNG.annotation.BeforeMethodExample"/>
        </classes>
    </test>
</suite>